body {
    margin: 50px auto;
    width: 80%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #333;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #333;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333;
    margin: 20px 0 10px 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

p {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

/* Header & Nav Section */

header {
    margin-bottom: 60px;
}

h1.page-title {
    margin-bottom: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    background-color: #B8D9FF;
    padding: 10px 20px;
    margin: 0px 10px 0 0;
    border-radius: 5px;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    background-color: #1A3E7F;
    color: #FFFAFA;
}

/* Colours Section */

div.colors {
    display: inline-block;
    margin-bottom: 60px;
}

div.color-block {
    float: left;
    padding: 20px 30px;
}

h4.color-name {
    text-align: center;
    padding: 10px 0;
    margin: 5px 0;
}

p.color-code {
    text-align: center;
    padding: 0;
    margin: 0;
}

div.color-1 {
    background-color: #6495ED;
    padding: 80px;
    border-radius: 50%;
}

div.color-2 {
    background-color: #B8D9FF;
    padding: 80px;
    border-radius: 50%;
}

div.color-3 {
    background-color: #FDDEC0;
    padding: 80px;
    border-radius: 50%;
}

div.color-4 {
    background-color: #FFFAFA;
    padding: 80px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
}

div.color-5 {
    background-color: #1A3E7F;
    padding: 80px;
    border-radius: 50%;
}

div.color-6 {
    background-color: #333;
    padding: 80px;
    border-radius: 50%;
}

/* Typography Section */

div.fonts {
    display: inline-block;
    margin-bottom: 30px;
}

div.font-block {
    float: left;
    padding: 10px 30px;
}

h4.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

p.poppins-200 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

p.poppins-200-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
}

p.poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p.poppins-400-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

p.poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p.poppins-600-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
}

h4.figtree {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

p.figtree-300 {
    font-family: 'Figtree', sans-serif;
    font-weight: 300;
}

p.figtree-300-italic {
    font-family: 'Figtree', sans-serif;
    font-weight: 300;
    font-style: italic;
}

p.figtree-400 {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
}

p.figtree-400-italic {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-style: italic;
}

p.figtree-600 {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

p.figtree-600-italic {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-style: italic;
}

p.figtree-700 {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
}

p.figtree-700-italic {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-style: italic;
}

h4.ibm-plex-mono {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

p.ibm-plex-mono-400 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}