nav ul li {
    display: inline;
}

div.colors {
    display: inline-block;
}

div.color-block {
    float: left;
}

.color-name {
    text-align: center;
}

.color-code {
    text-align: center;
}

.color-1 {
    background-color: #6495ED;
    padding: 50px;
    border-radius: 50%;
}

.color-2 {
    background-color: #E0FFFF;
    padding: 50px;
    border-radius: 50%;
}

.color-3 {
    background-color: #FFFAFA;
    padding: 50px;
    border-radius: 50%;
}

.color-4 {
    background-color: #696969;
    padding: 50px;
    border-radius: 50%;
}
