table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000080;
}

thead {
    background-color: #6495ED;
    color: #E0FFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.column-name td {
    padding: 10px 20px;
    background-color: #E0FFFF;
    color: #696969;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.name {
    width: 15%;
    padding: 10px 20px;
    background-color: #FFFAFA;
    color: #6495ED;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

.css {
    width: 10%;
    padding: 10px 20px;
    background-color: #FFFAFA;
    color: #6495ED;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-align: center;
}

.css p {
    background-color: #E0FFFF;
}

.description {
    width: 62%;
    padding: 10px 20px;
    background-color: #FFFAFA;
    color: #6495ED;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.example {
    width: 13%;
    padding: 10px 20px;
    background-color: #FFFAFA;
    color: #6495ED;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

.example p {
    background-color: #E0FFFF;
}